*,
*:after,
*:before {
  box-sizing: border-box;
}

h1 {
  color: #F5F1E3;
  font-family: 'Kalam', cursive;
  font-size: 60px;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 930px;
  text-align: center;
}

.curr-hour-data {
  width: 50%;
}

.day-data {
  width: 50%;
}

.weather-data {
  display: flex;
  width: 100%;
}
