*,
*:after,
*:before {
  box-sizing: border-box;
}

.curr-right {
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curr-container {
  background: #1c92d2;
  display: flex;
  flex-direction: column;
  /* width: 780px; */
  height: 300px;
  margin-right: 400px;
}

.curr-date {
  margin-bottom: 10px;
  font-size: 28px;
}

.curr-data {
  display: flex;
  flex-direction: row;
  height: 250px;
}

.curr-location {
  background-color:#00BFFF;
  color: #fff;
  height: 50px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 30px;
}

.curr-left {
  background-color: #1c92d2;
  border-right: 1px solid white;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}



.day-img {
  height: 100px;
  width: 100px;
}

.day-summary {
  bottom: 9px;
  font-size: 28px;
  margin: 34px 50px;
  position: relative;
}