*,
*:after,
*:before {
  box-sizing: border-box;
}
.curr-weather-condition {
  display: inline-block;
  flex-direction: column;
  width: 49%;
}

.curr-weather-data-container {
  display: flex;
  flex-direction: row;
}

.curr-weather-div {
  background: #fff;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 705px;
  display: flex;
  flex-direction: column;
}

.curr-weather-location {
  background-color: #42437C;
  color: #fff;
  height: 50px;
  margin: 0px;
  padding-top: 15px;
}

.curr-weather-temp {
  background-color: #9D93D0;
  display:inline-block;
  /* display: flex; */
  /* flex-direction: column; */
  color: #fff;
  height: 100px;
  width: 49%;
}

.curr-weather-date{
  margin:0;
}

