.hour-card {
  width: 25%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-card:nth-child(-n+6){
  border-right: 1px solid #1c92d2;
}

.hour-container {
  background: #fff;
  color: #42437C;
  display: flex;
  text-align: center;
  width: 780px;
  height: 160px;
  margin-right: 400px;
}

.hour-img {
  width: 40%;
}
