.hour-card {
  width: 80px;
  height: 100px;
  margin: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
}

.hour-card:nth-child(-n+6) {
  border-right: 1px solid #000
}

.hour-container {
  display: flex;
  justify-content: center;
}
