.hour-card {
  width: 80px;
  height: 100px;
  margin: 10px;
  background-color: #FFF;
  border-right: 1px solid #42437C;
}

.hour-container {
  background: #fff;
  color: #42437C;
  display: flex;
  text-align: center;
  height: 140px;
  width: 65%;
}

.image-desc {
  position: relative;
  bottom: 30px;
}

.hour-of-day{
  position: relative;
  bottom: 20px;
}

.hour-temp {
  position: relative;
  bottom: 30px;
}

.last-card {
  border-color: #fff;
}
