body {
  background: #1c92d2;
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);
  background: linear-gradient(to bottom, #f2fcfe, #1c92d2);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div#root {
  background: rgba(0, 54, 100, 0.5);
}
