body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-image: url(./assets/landscape.jpg);
  background-size: cover;
}

div#root {
  background: rgba(0, 54, 100, 0.5);
}
