.submit-button {
   border:none;
   margin: none;
   height: 40px;
   width: 60px;
   }



.city {
    border: none;
    border-bottom : 1px solid #fff;
    color: #fff;
    background: none;
    height: 40px;
    width: 300px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cities {
    height: 200px;
}