.submit-button {
   background: #fff;
   border:none;
   margin: none;
   height: 40px;
   width: 60px;
   }

.search-div {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    background-color: #1c92d2;
}

.search-input {
    height: 40px;
    width: 200px;
}
