h4 {
  font-size: 1.2em;
}

.day-container {
  color: #fff;
  font-family: 'NTR', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.day-card {
  height: auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 50px;
  border: 1px solid #fff;
  background:#1c92d2;
}

.day-image-desc {
  width: 50px;
  height: 45px;
  margin-left: 90px;
}

.day-temp {
  margin-left: 70px;
}
